*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(city.avif);
    background-size: cover;

}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 600;
    color:black;
}
.contact .content p{
    font-weight: 300;
    font-size: 25px;
    color: darkblue;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box1 .text{
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box2 .text{
    display: flex;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 20px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box3 .text{
    display: flex;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 20px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.contactForm{
    width: 100%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: black;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-left: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox .textarea{
    width: 100%
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
}