
.body{
    margin: 50%;
    padding: 50%;

}
    h1.a{
        width: 100%;
        height: auto;
        text-align: center;
        text-decoration-color:blue;
        font-size: 50px;
    }
   
    p.r{
        width:100%;
        height: auto;
        text-align: justify;
        font-size: 25px;
        font-style: oblique;
    }
    p.j{
        width:100%;
        height: auto;
        text-align: justify;
        font-size: 25px;
        font-style: oblique;
    } p.c{
        width:100%;
        height: auto;
        text-align: justify;
        font-size: 25px;
        font-style: oblique;
    }
   img.d{
    width:1000px;
    height: auto;
    margin-bottom: 30px;

   }
   img.p{
    width:1000px;
    height: 500px;
    margin-bottom: 30px;

   }
   

img.x{
 width:1000px;
 height: 500px;
 margin-bottom: 30px;

}
img.y{
    width:1000px;
    height: 500px;
    margin-bottom: 30px;
   
   }
   img.b{
    width:1000px;
    height: 500px;
    margin-bottom: 30px;
   
   }
   img.e{
    width:1000px;
    height: 500px;
    margin-bottom: 30px;
   
   }